
@page
<!--Makes Checkout.cshtml a razor page by adding this line of code  -->
@model OrderModel
@using homework_3_jacalva.Models





<!--Code for Title of Page  -->
<form method="post" asp-page="Confirmation">
    <div class= "p-3 text-center">
        <h1>ThoughtTronix Checkout</h1>
        


        <div class= "fs-5 text-secondary">
            <p>Congratulations, you are about to unlock the full potential of your mind with MindSync. Rest easy knowing MindSync will make those difficult life decisions for you. Please checkout below. Your thoughts, our business.</a></p>
        </div>
    </div>

   
<!-- Secondary Titles-->

<div class="row mb-3">
    <div class="col-6">
        <h5>Billing Address</h5>
    </div>
    <div class="col-3 text-end">
        <h5>Your Cart</h5>
    </div>
</div>


<!-- Input Boxes, First & Last Name, Email-->
<div class="container mt-6">

 <div class="row mb-3">

    <div class="col-md-8">   

        <div class="row mb-3">            
        <div class="col-6">
                <label asp-for="OrderObject.FirstName" class="form-label"></label>            
                <input asp-for="OrderObject.FirstName" class="form-control">
                <span asp-validation-for="OrderObject.FirstName" class="text-danger"></span>
        </div>        

        <div class="col-6">
            <label asp-for="OrderObject.LastName" class="form-label"></label>               
            <input asp-for="OrderObject.LastName" class="form-control">         
            <span asp-validation-for="OrderObject.LastName" class="text-danger"></span>      
        </div>
        </div> <!--End for row mb-3-->

        <div class="col-12">
            <label asp-for="OrderObject.Email" class="form-label"></label>
            <input asp-for="OrderObject.Email" class="form-control">
            <span asp-validation-for="OrderObject.Email" class="text-danger"></span>
        </div>

    </div><!--End of col-md-8-->

        <!-- Code for TABLE -->
        <div class="col-md-4">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered text-center">  

                    <tbody>                    

                    <tr>
                        <td class ="text-start">MindSync Free</td>
                        <!--Text-start keeps text to the left-->                        
                        <td class ="text-start">$0</td>                                                               
                    </tr>
                    <tr>
                        <td class ="text-start">Shipping</td>
                        <td class ="text-start">$5.99</td>                                                               
                    </tr>
                    <tr>
                        <td class ="text-start">Taxes & Fees</td>
                        <td class ="text-start">$17.99</td>                                                               
                    </tr>
                    <tr class="colspan="1" style="border: 2px solid">
                        <td class="text-start">Total (USD)</td>
                        <td class ="text-start"><b>$23.98</b></td>                                                               
                    </tr>

                    </tbody>
            </table>
        </div>
        </div>    
 


<!-- Input Boxes and DropDown for Address Information -->

    <div class="row mb-3">
        <div class="col-8">
            <label asp-for="OrderObject.Address" class="form-label"></label>
            <input asp-for="OrderObject.Address" class="form-control">
            <span asp-validation-for="OrderObject.Address" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
  
        <div class="col-3">
            <label class="form-label">Country</label></h4>
            <select asp-for="OrderObject.Country" asp-items="Html.GetEnumSelectList<Country>()" class="form-select">
                <option value="">Choose...</option>
            </select>
            <span asp-validation-for="OrderObject.Country" class="text-danger"></span>
        </div>
   
  
        <div class="col-3">
            <label class="form-label">State</label></h4>
            <select asp-for="OrderObject.State" asp-items="Html.GetEnumSelectList<State>()" class="form-select">
                <option value="">Choose...</option>
            </select>
            <span asp-validation-for="OrderObject.State" class="text-danger"></span>
        </div>

        <div class="col-2">
            <label asp-for="OrderObject.Zip" class="form-label"></label>
            <input asp-for="OrderObject.Zip" class="form-control">
            <span asp-validation-for="OrderObject.Zip" class="text-danger"></span>
        </div>

    </div>


 </div><!--End row mb-3-->

</div><!--End container mt-6-->



<!-- Checkboxes Regarding Shipping Info (2)-->

        <!-- Horizontal Lines -->
        <hr class="my-4">

        <div class="row">
        <div class="col-5">
            
            <div class="form-check">
                <input asp-for="OrderObject.SameShippingInfo" class="form-check-input" type="checkbox">
                <label asp-for="OrderObject.SameShippingInfo" class="form-check-label"></label>    
            </div>

            <div class="form-check">
                <input asp-for="OrderObject.SaveInformation" class="form-check-input" type="checkbox">
                <label asp-for="OrderObject.SaveInformation" class="form-check-label"></label>
            </div>

        </div>
        </div>

        <!-- Horizontal Lines -->
        <hr class="my-4">

<!-- Payment Input Boxes and Radio Buttons-->

        <h5 class="mb-3">Payment</h5>

        <div class="form-check">
            <input asp-for="OrderObject.PaymentType" class="form-check-input" type="radio" value="1">
            <label class="form-check-label">Credit Card</label>
        </div>
        
        <div class="form-check">
            <input asp-for="OrderObject.PaymentType" class="form-check-input" type="radio" value="2">
            <label class="form-check-label">Debit Card</label>
        </div>

        <div class="form-check">
            <input asp-for="OrderObject.PaymentType" class="form-check-input" type="radio" value="3">
            <label class="form-check-label">Paypal</label>
        </div>
        <br>
        <div class="row mb-3">
            <div class="col-4">
                <label asp-for="OrderObject.NameOnCard" class="form-label"></label>                
                <input asp-for="OrderObject.NameOnCard" class="form-control">
                <span asp-validation-for="OrderObject.NameOnCard" class="text-danger"></span>
            </div>


            <div class="col-4">
                <label asp-for="OrderObject.CardNumber" class="form-label"></label>                  
                <input asp-for="OrderObject.CardNumber" class="form-control">         
                <span asp-validation-for="OrderObject.CardNumber" class="text-danger"></span>      
            </div>
         </div>


        <!-- Horizontal Lines -->
         <hr class="my-4">
  


<!--Submit Button -->
    <div class="col-8">
    <button type="submit" class="w-100 btn btn-lg btn-primary">Checkout</button>
    </div>

</form>


<!-- Add JS code for Data Validation -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}